---
const { text, className = "" } = Astro.props;
---

<span
	class=`inline-flex justify-around items-center rounded-md px-1 py-1 mb-3 mt-2 text-xs font-medium  inset-ring ${className} `
>
	{text}
</span>
