---
export interface Props {
	headerText: string;
	headerLink?: string;
	description: string;
}

const { headerText, headerLink, description } = Astro.props;
---

<div class="relative flex flex-col border border-card rounded-lg">
	<div class="mx-3 mb-0 pt-3 pb-2 px-1">
		{
			headerLink ? (
				<a
					href={headerLink}
					target="_blank"
					rel="noopener noreferrer"
					class="text-sm lg:text-lg  underline hover:text-primary"
				>
					{headerText}
				</a>
			) : (
				<span class="text-sm lg:text-lg  hover:text-primary  font-medium">
					{headerText}
				</span>
			)
		}
	</div>
	<div class="p-4">
		<p class="leading-normal font-light">
			{description}
		</p>
		<slot />
	</div>
</div>
