---

---

<footer class="w-full p-8">
	<div
		class="flex flex-row flex-wrap items-center justify-center gap-y-6 gap-x-12 text-center md:justify-between"
	>
		<ul class="flex flex-wrap items-center gap-y-2 gap-x-8">
			<li>
				<a
					href="https://www.linkedin.com/in/luisdavid01/"
					target="_blank"
					rel="nonoopener noreferrer"
					class="hover:text-primary focus:text-slate-500 text-sm"
				>
					Conectemos!
				</a>
			</li>
		</ul>
	</div>
	<p
		class="block mb-4 text-sm text-center text-slate-500 md:mb-0 border-t border-slate-200 mt-4 pt-4"
	>
		Copyright © 2025&nbsp; LuisDavid01
	</p>
</footer>
