---
import "../styles/global.css";
import "@fontsource/inter";
import { ClientRouter } from "astro:transitions";

interface Props {
	title: string;
}
const currentLang = Astro.currentLocale || 'en'

const { title } = Astro.props;
---

<!doctype html>
<html lang={currentLang} class="dark hide-scroll">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link
			rel="icon"
			type="image/svg+xml"
			href="https://fav.farm/%F0%9F%99%80"
		/>
		<meta name="generator" content={Astro.generator} />
		<meta
			name="description"
			content="Blog personal y portafolio de LuisDavid01."
		/>
		<title>{title}</title>

		<ClientRouter />
	</head>
	<body class="hide-scroll">
		<slot />
	</body>
</html>

<style>

</style>
